# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\openserver\domains\laravel-starter-kit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
